body{
    background-color: #1f2b2a;
    color: rgb(144, 136, 136)
}

h1{
    font-family: 'Dancing Script', cursiva;
    text-align: center;
}
h3{
    margin-left: 20px;
    font-size: 24px;
}
.nunito{
    font-family: 'Nunito', sans-serif;
}
        
li{
    text-align: left;
    margin-right: 30px;
    font-size: 20px;
    margin: 20px;
}

.blog{
    margin-left: 20px;
    color: gray;
    font-size: 22px;
    
}

.big {
    font-size: 18px;
}

img{
    border-radius: 50%;
    width: 350px;
}

.name-picture{
    background-color: rgb(55, 66, 75);
    display: inline-block;
    width: 40%;
    margin-bottom: 20px;
    text-align: center;

}
.about-me{
    display: inline-block;
    width: 30%;
     
}

.paragrafos{
    width: 90%;
    position: static;
    font-size: 22px;
    margin-left: 20px;
    text-align: left;
}
a:hover{
    color:bisque
}
a:active{
    color:rgb(224, 13, 16)
}

